@charset "UTF-8";

body{
    margin: 0px;
}

header{
    background-color: black;
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 15px 15px 15px 15px;

}

header > h1{
    color: white;
    font-family: "Passion One", sans-serif;
    font-size: 10vh;
    text-align: center;
    font-variant: small-caps;
    margin: 0px;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 2vh;
}

span > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-style: normal;
}





section.vazio{
    background-color: white;
    font-family: "Sriracha";
    padding-bottom: 3em;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: "Sriracha";
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vh;
}

section.fundo1 > p{
    background-color: rgba(0, 0, 0, 0.363);
    display: inline-block;
    color: white;
    text-shadow: 1px 2px 1px black;
    box-shadow: inset 6px 6px 13px 0px black;
}

section.fundo2 > p{
    background-color: rgba(0, 0, 0, 0.363);
    display: inline-block;
    color: white;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
}

section.fundo1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.633);
    background-attachment: fixed;
}

section.fundo2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.566);
    background-attachment: fixed;
}






footer{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 2px 10px 2px 10px;
}
